body {
	padding: 70px 0px 0px 0px; /* 51px, 0px, 0px, 0px */
	font-family: 'Work Sans', Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif !important;
}

.footer {
	padding-top: 60px;
	padding-bottom: 30px;
	text-align: center;
}

.noscript {
	position: fixed;
	padding: 70px 20px 0px 20px;
	top: 0px;
	left: 0px;
	z-index: 1000;
	background-color: #fff;
	width: 100%;
	height: 100%; 
}
